@media only screen and (max-width: 500px) {
    .img {
        max-height: 60%;
        max-width: 60%;
    }
}

.caroContainer {
  height: 100%;
}

.caro {
  padding-top: 8%;
  margin-bottom: 6%;
  margin-right: 5%;
  margin-left: 5%;
}

.slide {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.img {
  height: 400px;
  width: 400px;
}

.model {
  color: black;
  font-family: Lato, sans-serif;
}

.price {
  color: black;
  margin-top: 20px;
  font-family: Lato, sans-serif;
}

.info {
  margin-top: 10%;
  max-width: 50%;
}
