@media only screen and (max-width: 500px) {
    .page-footer {
        margin: 0;
        padding-bottom: 0;
    }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-footer {
  max-height: 80%;
  background: linear-gradient(28deg, #13547a 60%, #80d0c7 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

a {
  color: white;
}

.empty {
  width: 40px;
}
