@media only screen and (max-width: 500px) {
    .SocialIcon {
        flex-direction: row;
    }
}

.SocialIcon {
  display: flex;
  flex-direction: row;
}

.facebook {
  margin-left: 10px;
}

.youtube {
  margin-right: 10px;
}
